<DOCTYPE html> 
<html lang="de"> 
	<head> 
		<meta charset="utf-8">
	</head>
	<body>

		Auth Hello {{{key}}} !!!
		
		<form enctype="multipart/form-data" method="POST" action="UploadFile">
     <input type="file" id="fileUpload" name="file"/>
     <input type="hidden" id="fileName" name="fileName"/>
     <input type="submit" value="Upload"/>
   </form>
	</body>
</html>